<h1>{{ contact.firstname }} {{ contact.lastname}}</h1>
<p>
{{ contact.email1 }}
{{ contact.email2 }}
{{ contact.address1 }}
{{ contact.address2 }}
{{ contact.city }}
{{ contact.state }}
{{ contact.zip }}
{{ contact.phone1 }}
{{ contact.phone2 }}

</p>